$primary: rgb(38, 181 ,76);
$primary-dark: rgb(35, 167, 70);
$primary-light: rgb(42, 199, 84);
$bg: rgb(241, 241, 241);
$bg-dark: rgb(226, 226, 226);
$bg-light: rgb(253, 253, 253);
$bg: rgb(241, 241, 241);
$error: rgb(212, 0, 0);
$gray: rgb(204, 204, 204);
$gray-dark: rgb(160, 160, 160);
$gray-light: rgb(210, 210, 210);
$white: white;

/************************************* Buttons ************************************************/

.--bg {

  &-primary {
    background-color: $primary;
  }

  &-primary-dark {
    background-color: $primary-dark;
  }

  &-primary-light {
    background-color: $primary-light;
  }

  &-white {
    background-color: $white;
  }
}

/************************************* Buttons ************************************************/

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
  padding: 0.5rem 0;
  color: $white;
  cursor: pointer;
  //make button text not highlightable
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  font-size: 1rem;
  font-weight: bold;
  text-align: center;

  &:active {
    opacity: 0.6;
  }
}

/************************************* Display ************************************************/

.--ver {
  flex-direction: column;
}

.--hor {
  flex-direction: row;
}

.--just-center {
  justify-content: center;
}

.--align-center {
  align-content: center;
}

.--just-align-center {
  justify-content: center;
  align-content: center;
}

/************************************* Links ************************************************/

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  //make button text not highlightable
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  font-size: 1rem;
  font-weight: bold;
  text-align: center;

  &:active {
    opacity: 0.6;
  }
}

/************************************* Margin & Padding ************************************************/

$spaceamounts: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10);
@each $space in $spaceamounts {
  /** Margin */
  // All around margin
  .--m-#{$space} {
    margin: #{$space}rem;
  }
  // Vertical margin
  .--my-#{$space} {
    margin: #{$space}rem 0;
  }
  // Horizontal margin
  .--mx-#{$space} {
    margin: 0 #{$space}rem;
  }
  // Top margin
  .--mt-#{$space} {
    margin: #{$space}rem 0 0 0;
  }
  // Bottom margin
  .--mb-#{$space} {
    margin: 0 0 #{$space}rem 0;
  }
  // Left margin
  .--ml-#{$space} {
    margin: 0 0 0 #{$space}rem;
  }
  // Right margin
  .--mr-#{$space} {
    margin: 0 #{$space}rem 0 0;
  }
  /** Padding */
  // All around padding
  .--p-#{$space} {
    padding: #{$space}rem;
  }
  // Vertical padding
  .--py-#{$space} {
    padding: #{$space}rem 0;
  }
  // Horizontal padding
  .--px-#{$space} {
    padding: 0 #{$space}rem;
  }
  // Top padding
  .--pt-#{$space} {
    padding: #{$space}rem 0 0 0;
  }
  // Bottom padding
  .--pb-#{$space} {
    padding: 0 0 #{$space}rem 0;
  }
  // Left padding
  .--pl-#{$space} {
    padding: 0 0 0 #{$space}rem;
  }
  // Right padding
  .--pr-#{$space} {
    padding: 0 #{$space}rem 0 0;
  }
}

// All around  auto margin
.--m-auto {
  margin: auto;
}
// Vertical auto margin
.--my-auto {
  margin: auto 0;
}
// Horizontal auto margin
.--mx-auto {
  margin: 0 auto;
}

/* 0.5rem margin*/
.--m-half {
  margin: 0.5rem;
}
// Vertical margin
.--my-half {
  margin: 0.5rem 0;
}
// Horizontal margin
.--mx-half {
  margin: 0 0.5rem;
}
// Top margin
.--mt-half {
  margin: 0.5rem 0 0 0;
}
// Bottom margin
.--mb-half {
  margin: 0 0 0.5rem 0;
}
// Left margin
.--ml-half {
  margin: 0 0 0 0.5rem;
}
// Right margin
.--mr-half {
  margin: 0 0.5rem 0 0;
}

/* 0.2rem margin*/
.--m-qter {
  margin: 0.2rem;
}
// Vertical margin
.--my-qter {
  margin: 0.2rem 0;
}
// Horizontal margin
.--mx-qter {
  margin: 0 0.2rem;
}
// Top margin
.--mt-qter {
  margin: 0.2rem 0 0 0;
}
// Bottom margin
.--mb-qter {
  margin: 0 0 0.2rem 0;
}
// Left margin
.--ml-qter {
  margin: 0 0 0 0.2rem;
}
// Right margin
.--mr-qter {
  margin: 0 0.2rem 0 0;
}

/************************************* Opacity ************************************************/

$opacityamounts: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9);
@each $opacity in $opacityamounts {
  /** Margin */
  // All around margin
  .--op-#{$opacity} {
    opacity: #{$opacity/10};
  }
}

.--op-10 {
  opacity: 1;
}

/************************************* Text ************************************************/

.--text {

  &-primary {
    color: $primary;
  }

  &-primary-dark {
    color: $primary-dark;
  }

  &-primary-light {
    color: $primary-light;
  }

  &-white {
    color: $white;
  }
}